@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto+Mono:300,400,700|Roboto:100,400,700,900&display=swap");

body,
html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
